*,
*:before,
*:after {
    box-sizing: border-box;
}

pre[class*="language-"] {
    position: relative;
    overflow: auto;
    /* make space  */
    margin: 50px 0;
    /* padding: 1.75rem 0 1.75rem 1rem; */
    padding: 3rem;
    border-radius: 10px;
}

pre[class*="language-"] button {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.9rem;
    padding: 0.15rem;
    background-color: #ffffff38;
    border: ridge 1px #7b7b7c;
    border-radius: 5px;
    text-shadow: #ffffff 0 0 2px;
}

pre[class*="language-"] button:hover {
    cursor: pointer;
    background-color: #bcbabb;
}

main {
    display: grid;
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    font-size: 1.3rem;
}